@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --dsct-color-bg-primary: #3C9AF0;
  --dsct-color-bg-secundary: #D9D9D9;
  --dsct-color-bg-tertiary: #C8C8C8;
  --dsct-color-bg-quaternary: #ffffff;

  --dsct-color-font-primary: #FFFFFF;
  --dsct-color-font-secundary: #5E5E5E;
  --dsct-color-font-tertiary: #3C9AF0;

  --dsct-color-border-primary: #3C9AF0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  width:  100%;
  max-width: 746px;
  margin: 0 auto;
  padding: 20px;
}

.container-secundary {
  width:  100%;
  max-width: 960px;
  margin: auto;
  padding: 20px;
}