.dsct-card-comment {
    background-color: var(--dsct-color-bg-quaternary);
    border: 1px solid var(--dsct-color-border-primary);
    border-radius: 12px;
    margin-bottom: 25px;
    padding: 25px 20px;
    text-align: left;
}

.dsct-card-comment p {
    font-size: 16px;
    color: var(--dsct-color-font-tertiary);
}