header {
    background-color: var(--dsct-color-bg-primary);
    height: 70px;
    display: flex;
    align-items: center;
  }
  
  .nav-main {
    color: var(--dsct-color-font-primary);
    padding: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  
  .nav-main h1 {
    font-size: 20px;
  }
  
  @media (min-width: 1200px) {
    .nav-main h1 {
      font-size: 24px;
    }
  }