#dsct-catalog-section {
    padding: 40px 0 ;
}
.cdsct-catalog-main {
    padding: o 10px;
}
.dsct-catalog-cards-container {

}

@media (min-width: 576px) {
    .dsct-catalog-main {
        padding: 0 20px;
    }
}